body {
  margin: 0;
  padding: 0;
  background: #121212;
  color: #FFF;
  font-family: sans-serif;
}
#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
button {
  background: #1F1F1F;
  color: #FFF;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}
